body {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

#cenario {
    width: 1000px;
    height: 400px;
    border: solid 1px black;
}

#personagem {
    width: 20px;
    height: 20px;
    background-color: rgb(184, 128, 56);
    position: relative;
    top: 380px;
}

.animacao {
    animation: personagem 500ms infinite linear;            
}

@keyframes personagem {
    0%{top: 380px;}
    30%{top: 250px}
    50%{top: 200px}
    70%{top: 250px}
    100%{top: 380px}
}

#obstaculo {
    width: 20px;
    height: 60px;
    background-color: red;
    position: relative;
    top: 320px;
    left: 980px;
    animation: obstaculo 1s infinite linear;
    animation-delay: 0.5s;
}

@keyframes obstaculo {
    0%{left: 980px;}
    50%{left: 490px}
    100%{left: 0px}
}

#btComecar {
    width: fit-content;
}

.header {
    border-bottom: 3px solid #9f7733;
    display: flex;
    justify-content: space-between;
}

.footer {
    background-color: #9f7733;
    height: 60px;
    color: #fff;
    display: flex;
    font-size: 15px;
    justify-content: center;
    width: 100%;
  }

  .titulo {
    color: #9f7733;
    width: fit-content;
    font-weight: 500;
  }

  .btn {
    font-family: "Barlow", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #337c9f;
    width: 120px;
    align-self: center;
    margin-top: 5px;
  }

 #divPerdeu {
    font-size: 50px;
    padding: 60px;
  }

.container {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    align-content: space-between;
}
  